{
  "extends": [
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:css-modules/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "import",
    "css-modules",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "globals": {
    "__": true,
    "DEBUG": true,
    "hcfunnel": true,
    "LANG": true,
    "process": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/prefer-optional-chain": 1,
    "@typescript-eslint/no-empty-function": 0,
    "curly": [2, "all"],
    "css-modules/no-undef-class": [2, { "camelCase": "dashes" }],
    "css-modules/no-unused-class": [2, { "camelCase": "dashes" }],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "eol-last": 2,
    "no-trailing-spaces": 2,
    "no-control-regex": 0,
    "quotes": ["error", "single"],
    "key-spacing": 2,
    "semi": ["error", "always"],
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": "error",
    "object-curly-newline": 0,
    "class-methods-use-this": 0,
    "comma-dangle": ["error", "always-multiline"],
    "no-plusplus": 0,
    "no-else-return": "error",
    "lines-between-class-members": ["error", "always"],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": 0,
    "import/default": 0,
    "import/newline-after-import": ["error", { "count": 1 }],
    "import/order": [
      "error",
      {
        "groups": ["index", "external", "builtin", "parent", "sibling"],
        "pathGroupsExcludedImportTypes": ["helpers/polyfills"],
        "newlines-between": "always"
      }
    ],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "if", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "if" }
    ],
    "no-console": 2,
    "init-declarations": ["error", "always"],
    "no-multi-spaces": 2,
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true,
        "overrides": {}
      }
    ],
    "max-len": [
      1,
      {
        "code": 100,
        "ignoreComments": true
      }
    ],
    "no-unused-vars": "off",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "no-magic-numbers": [
      1,
      {
        "ignore": [0, 1, 500, 401, 403, 404],
        "ignoreArrayIndexes": true
      }
    ],
    "operator-linebreak": ["error", "after"],
    "prefer-const": ["error"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/destructuring-assignment": 0,
    "react/prop-types": 0,
    "react/no-deprecated": 1,
    "react/self-closing-comp": 2,
    "react/no-unsafe": [1, { "checkAliases": true }],
    "react/no-unused-prop-types": 2,
    "react/jsx-props-no-multi-spaces": 2,
    "react/jsx-max-props-per-line": [
      2,
      {
        "maximum": 1,
        "when": "multiline"
      }
    ],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-indent": [2, 2],
    "react/jsx-tag-spacing": 2,
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-closing-tag-location": 2,
    "react/sort-comp": [
      1,
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "react/sort-prop-types": [
      1,
      {
        "noSortAlphabetically": false
      }
    ],
    "sort-keys": [1, "asc", { "caseSensitive": true, "natural": false }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "directory": "./tsconfig.json"
      }
    },
    "react": {
      "version": "17.0"
    }
  }
}
